* {
    box-sizing: border-box;
    margin:0;
}

body{
    margin:0;
}

header{
    background-color: #666;
    font-family:Arial, Helvetica, sans-serif;
}

header #logo{
    display:flex;
    justify-content: start;
}


header h1{
    color:#ff9966;
    margin:auto;
}

#navbar ul{
    background:#222;
    display:flex;
    list-style:none;
    justify-content:space-between;
    padding:1rem;
}

#navbar a{
    color:#fff;
    text-decoration: none;
}

main{
    background-color: #000; 
}

.container{
    color:#fff;
}

.ball{
    
}